<main>
    <div class="card">
        <nav class="nav">
            {{#with navigation}}
            {{#each links}}
            <a class="nav-link" href="{{href}}">{{text}}</a>
            {{/each}}
            {{/with}}
            <a class="nav-link disabled" href="#">Disabled</a>
        </nav>
    </div>
    <br>
    <hr>

    <div>
        {{>shopheader data=header}}
    </div>
    <br>
    <br>
    <hr>
    <br>

    <div>
        {{>cartGoodsItem data=goodsBlock}}
    </div>


    <div>
        {{#with total}}
        <h2>{{title}}</h2>
        <h5>{{amount}}</h5>
        <p>{{delivery}}</p>
        {{#each buttons}}

        {{#if isSuccess}}
        <button href="{{link}}" class="btn btn-success">{{text}}</button>
        {{/if}}
        {{#if isOutline}}
        <button href="{{link}}" class="btn btn-outline-success">{{text}}</button>
        {{/if}}

        {{/each}}
        {{/with}}
    </div>
    <br>
    <br>


    <nav class="nav nav-table">
        {{#with goodsOtherBlock}}
        <h2>{{title}}</h2>
        <div class="row">
            {{#each cards}}
            <div class="col-4 my-3">
                <div class="card text-bd-light">
                    <img src="{{image}}">
                    <div class="card-header text-bg-light">
                        {{title}}
                        {{#if isHot}}
                        <span class="badge text-bg-success rounded-pill text-capitalize">
                            Hot
                        </span>
                        {{/if}}

                        {{#if isNew}}
                        <span class="badge text-bg-danger rounded-pill text-capitalize">
                            Нове
                        </span>
                        {{/if}}
                    </div>

                    <div class="card-body text-bg-light">
                        <p class="card-title">{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </nav>

    <br>
    <hr>
    <div class="rov">
        <div class="col-12">
            {{#with subscribe}}
            <div class="card text-bg-dark">
                <h2>{{header}}</h2>
                <p>{{description}}</p>

                <div class="card-body">
                    {{#each buttons}}
                    <button href="{{link}}" class="btn btn-primary">{{text}}</button>
                    <br>
                    <br>
                    {{/each}}
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    <br>
    <hr>

    {{>shopfooter data=footer}}
</main>