<main>
    <div>
        {{>shopheader data=navigation}}
    </div>
    <br>
    <hr>

    <div>
        <h2>{{header}}</h2>
    </div>
    <br>
    <br>
    <div>

        <div class="p-1">
            <div class="row g-2">

                <div class="col-8 g-1">
                    <div class="card">

                        {{#with contacts_data}}
                        <h4>{{title}}</h4>

                        <div class="col-12 g-2">
                            {{#each buttons}}
                            {{#if isPrimary}}
                            <button class="btn btn-warning">{{text}}</button>
                            {{/if}}
                            {{#if isOutline}}
                            <button class="btn btn-outline-warning">{{text}}</button>
                            {{/if}}
                            {{/each}}
                        </div>

                        {{#with form}}
                        <div class="col-5 g-1">
                            {{#with input}}

                            {{#with surname}}
                            <div>
                                <label class="form-label">{{label}}</label>
                                <label class="form-control">{{placeholder}}</label>
                                <label class="form-text text-ling">{{caption}}</label>
                            </div>
                            {{/with}}
                            {{#with phone}}
                            <div>
                                <label class="form-label">{{label}}</label>
                                <label class="form-control">{{placeholder}}</label>
                                <label class="form-text text-ling">{{caption}}</label>
                            </div>
                            {{/with}}
                        </div>

                        <div class="col-6">
                            {{#with name}}
                            <div>
                                <label class="form-label">{{label}}</label>
                                <label class="form-control">{{placeholder}}</label>
                                <label class="form-text text-ling">{{caption}}</label>
                            </div>
                            {{/with}}
                            {{#with email}}
                            <div>
                                <label class="form-label">{{label}}</label>
                                <label class="form-control">{{placeholder}}</label>
                                <label class="form-text text-ling">{{caption}}</label>
                            </div>
                            {{/with}}
                            {{/with}}
                        </div>
                        <br>
                        <br>

                        <div class="col-12">

                            {{#each switch}}
                            <div class="form-check form-switch">

                                <label class="form-check-label">{{text}}</label>
                                <input type="checkbox" class="form-check-input">

                            </div>
                            {{/each}}

                        </div>
                        {{/with}}

                        {{/with}}
                    </div>
                </div>


                <div class="col-4 g-1">
                    <div class="card">

                        {{#each action_block}}
                        <div class="card-body">
                            {{#if isSuccess}}
                            <button class="btn btn-success">{{text}}</button>
                            {{/if}}
                            {{#if isDanger}}
                            <button class="btn btn-danger">{{text}}</button>
                            {{/if}}
                            {{#if isInfo}}
                            <button class="btn btn-info">{{text}}</button>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>

                    <br>

                    <div class="card">
                        {{#with total}}
                        <div class="card-body">
                            <h4>{{title}}</h4>

                            <hr>
                            {{#each item_list}}
                            <p>{{name}}:{{price}}</p>
                            {{/each}}
                            <hr>
                            {{#each additional_info}}
                            <p>{{text}}:{{value}}</p>
                            {{/each}}

                            <hr>
                            {{#with total_price}}
                            <p>{{text}}:{{value}}</p>
                            {{/with}}

                            <hr>
                            {{#each button}}
                            {{#if isPrimary}}
                            <button class="btn btn-primary">{{text}}</button>
                            {{/if}}
                            <br>
                            {{#if isOutline}}
                            <button class="btn btn-outline-info">{{text}}</button>
                            {{/if}}
                            {{/each}}
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>


            <div class="row g-2">
                <div class="col-8">

                    {{#with delivery}}
                    <h4>{{title}}</h4>

                    <div class="card">
                        {{#each select}}
                        <div class="card-body">

                            <label class="form-label"> {{label}} </label>
                            <select clas="form-select">
                                <option selected> {{placeholder}} </option>
                                {{#each options}}
                                <option {{value}}>{{text}} </option>
                                {{/each}}
                            </select>

                        </div>
                        {{/each}}
                    </div>
                    <br>

                    {{#each delivery_type}}
                    <div class="form-check">
                        <label class="form-check-label"> {{type}} </label>
                        <input type="radio" class="form-check-input">
                    </div>
                    {{/each}}
                    <br>

                    <hr>
                    {{#with payment}}
                    <h4>{{title}}</h4>
                    {{#each list}}
                    <div class="form-check">
                        <label class="form-check-label"> {{type}} </label>

                        <input type="radio" class="form-check-input">
                        <br>
                        <label class="form-text text-ling">{{description}}</label>
                    </div>
                    {{/each}}
                    {{/with}}
                    <br>
                    <hr>

                    {{#with contact}}
                    <h4>{{title}}</h4>
                    <div class="col-6">
                        {{#with surname}}
                        <div>
                            <label class="form-label">{{label}}</label>
                            <label class="form-control">{{placeholder}}</label>
                            <label class="form-text text-ling">{{caption}}</label>
                        </div>
                        {{/with}}
                        {{#with phone}}
                        <div>
                            <label class="form-label">{{label}}</label>
                            <label class="form-control">{{placeholder}}</label>
                            <label class="form-text text-ling">{{caption}}</label>
                        </div>
                        {{/with}}
                    </div>

                    <div class="col-6">
                        {{#with name}}
                        <div>
                            <label class="form-label">{{label}}</label>
                            <label class="form-control">{{placeholder}}</label>
                            <label class="form-text text-ling">{{caption}}</label>
                        </div>
                        {{/with}}
                        {{#with email}}
                        <div>
                            <label class="form-label">{{label}}</label>
                            <label class="form-control">{{placeholder}}</label>
                            <label class="form-text text-ling">{{caption}}</label>
                        </div>
                        {{/with}}
                        {{/with}}
                    </div>
                    <br>
                    <hr>

                    {{#with coment}}
                    <div>
                        <label class="form-label">{{label}}</label>
                        <label class="form-control">{{placeholder}}</label>
                    </div>
                    {{/with}}
                    {{/with}}
                    <br>
                    <hr>


                    {{#with coupon}}
                    <h4>{{title}}</h4>
                    {{#with select}}

                    {{#with availabel_coupon}}
                    <label class="form-label"> {{label}} </label>
                    <select clas="form-select">
                        <option> {{placeholder}} </option>
                        {{#each options}}
                        <option {{value}}>{{text}} </option>
                        {{/each}}
                    </select>

                    {{/with}}

                    {{#with friend_coupon}}
                    <label class="form-label"> {{label}} </label>
                    <select clas="form-select">
                        <option selected> {{placeholder}} </option>
                        {{#each options}}
                        <option {{value}}>{{text}}</option>
                        {{/each}}
                    </select>
                    {{/with}}
                    {{/with}}
                    <br>
                    <br>
                    {{#with add}}
                    {{#with friend}}
                    <label class="form-label"> {{label}} </label>
                    <select clas="form-select">
                        <option selected>{{placeholder}} </option>
                    </select>
                    <div class="form-text text-dark">{{caption}}</div>
                    {{/with}}
                    <br>
                    {{#with colleague}}
                    <label class="form-label"> {{label}} </label>
                    <select clas="form-select">
                        <option selected> {{placeholder}} </option>
                        <option>{{caption}} </option>
                    </select>
                    <div class="form-text text-dark">{{caption}}</div>
                    {{/with}}
                    {{/with}}
                    {{/with}}
                    <br>
                    <br>

                    {{#with quiz}}
                    <h3>{{title}}</h3>

                    {{#with preference}}
                    <h5>{{title}}</h5>
                    {{#each options}}
                    <div class="form-check">
                        <label class="form-check-label"> {{this}} </label>
                        <input type="radio" class="form-check-input">
                    </div>
                    {{/each}}
                    {{/with}}
                    <br>
                    <br>
                    {{#with purchase_frequency}}
                    <label class="form-label"> {{label}} </label>
                    <select clas="form-select">
                        <option selected> {{placeholder}} </option>
                        {{#each options}}
                        <option {{value}}>{{text}} </option>
                        {{/each}}
                    </select>
                    {{/with}}
                    <br>
                    <br>

                    {{#with factors}}
                    <h4>{{title}}</h4>
                    {{#each options}}
                    <div class="form-check">
                        <label class="form-check-label"> {{this}} </label>
                        <input type="checkbox" class="form-check-input">
                    </div>
                    {{/each}}
                    {{/with}}
                    {{/with}}

                </div>
            </div>
        </div>
        <br>
        <br>


        <div>
            {{>shopfooter data=footer}}
        </div>
</main>